<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="site-name">
            <h2>{{ MainTitle }}</h2>
        </div>
        <div class="site-menu">
            <a href="#">Home</a>
            <a href="#">Menu</a>
            <a href="#">About</a>
            <a href="#">Cart</a>
            <a href="#">Contact</a>
        </div>
    </div>
</body>
</html>
